ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sign-in{
  float: rig;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.nav-links{
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

ul{
  display:flex;  
  list-style:none;
}

.logo{
  height: 30px;
  width: 150px;
}

.sign-up-btn{
  margin-right: 100px;
}

.navbar{

  margin-left: 100px;
  margin-right: 100px;
}

/* Rectangle 2 */
.sign-in-btn{
  border-radius: 52px;
  width: 100px;
  height: 30px;
left: 173px;
top: 36px;
background: #FFFFFF;
}

.base-img{
  position: absolute;
  left: 20px;
  right: 100px;
  top: 0px;
  z-index: -1;
  height: 800px;
  width: 800px;
  margin-left: 800px;
}

.base-img2{
  position: absolute;
  left: 20px;
  right: 100px;
  top: 0px;
  z-index: -1;
  height: 600px;
  margin-left: 880px;
}
.base-img3{
  position: absolute;
  left: 20px;
  right: 100px;
  top: 0px;
  z-index: -1;
  height: 500px;
  margin-left: 1170px;
}



